[submodule "boostGames"]
	path = boostGames
	url = git@github.com:uri247/boostGames.git
[submodule "FitchCheney"]
	path = FitchCheney
	url = git@github.com:uri247/FitchCheney.git
[submodule "bashGames"]
	path = bashGames
	url = git@github.com:uri247/bashGames.git
[submodule "qotd"]
	path = qotd
	url = git@github.com:uri247/qotd.git
[submodule "frontGames"]
	path = frontGames
	url = git@github.com:uri247/frontGames.git
[submodule "unixSocketGames"]
	path = unixSocketGames
	url = git@github.com:uri247/unixSocketGames
[submodule "pipeLineReader"]
	path = pipeLineReader
	url = git@github.com:uri247/pipeLineReader
[submodule "springGames"]
	path = springGames
	url = ./springGames
[submodule "qtGames"]
	path = qtGames
	url = git@github.com:uri247/qtGames.git
[submodule "demdemo"]
	path = demdemo
	url = git@bitbucket.org:uri365/demdemo.git
